$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$bottom-font: 'Public Sans', sans-serif;
$footer-nav0font: 'Roboto', sans-serif;

$bg-dark-color:#50806B;
$bg-light-color:#FFF;
$secondary-bg-light-color:#E8EDDE;
$primary-button-color: #50806B;
$primary-font-color: #000;
$span-font-color: #50806B;
$gray-font-color: #343434;
$secondary-gray-font-color: #979797;
$light-font-color: #FFF;

